@-webkit-keyframes thumb {
	0% { -webkit-transform: translate(10px); }
	50% { -webkit-transform: translate(-10px); }
	100% { -webkit-transform: translate(0); }
}

.shake {
	-webkit-animation-name: thumb;
	-webkit-animation-duration: 200ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}
