@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/*****************
GENERAL
******************/

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: radial-gradient(circle farthest-corner at 0% 0% , #83D0D7 0%, #4A90E2 100%);
}

a {
  text-decoration: none;
}

a:hover {
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.2) );
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: #757575;
  margin: 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #757575;
  margin: 0;
}

p, ol, ul, table {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: #757575;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tbody tr td {
  border: 1px solid #757575;
}

.drag-area {
  -webkit-app-region: drag;
}

/* CHANGING PLACEHOLDER TEXT FOR ALL BROWSERS */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

input[type=text], textarea {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0;
  border: 1px solid #DDDDDD;
}

/*****************
HEADER
******************/

.header {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 3.8vw;
}

#home {
  position: fixed;
  margin-top: 2px;
  top: 0.6vw;
  left: 10%;
  width: 2vw;
  height: 2vw;
}

#requests {
  position: fixed;
  left: 15%;
  top: 0.6vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  font-weight: 300;
  text-decoration: none;
  color: #FFF;
}

#close-app img {
  position: fixed;
  padding-top: 2px;
  top: 0.6vw;
  left: 90%;
  height: 2vw;
  width: 2vw;
}

/*****************
FOOTER
******************/

.footer {
  text-align: center;
  bottom: 5px;
  position: fixed;
  width: 100%;
}

.footer a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  text-decoration: none;
  color: #FFF;
}

/*****************
LOGIN
******************/

/*Centering the login screen*/
#login-center {
  height: 100%;
  text-align: center;
}

#login-center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: -0.25em; /* Adjusts for spacing */
}

.login {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 300px;
  height: auto;
  padding: 25px;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
}

#subdomain-textabove {
  margin-top: 15px;
  font-size: 0.8em;
}

#subdomain-field {
  /*Deleteing OS Form styles*/
  background:rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;

  /*Adding custom styling*/
  height: 1.4em;
  width: 200px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  color: #A1A1A1;
  float: left;
  border-bottom: 0.1em solid #A1A1A1;
}

#subdomain-completion {
  font-size: 0.875em;
  height: 1em;
  float: right;
}

.login form div {
  margin-top: 44px;
  display: inline-block;
}

.login form div p {
    display: inline;
}

.login form button {
  margin-top: 25px;
  float: right;
  padding: 10px;
  border: none;
  text-decoration:none;
  background: #4A90E2;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  color: #FFFFFF;
}

/*****************
SEARCH
******************/

#help-icon {
  position: fixed;
  top: 47%;
  left: 9%;
  padding: 1%;
  height: 3.5vw;
  width: 3.5vw;
  transform: rotate(45deg);
}

#search-box {
  position: fixed;
  top: 46%;
  left: 15%;
  width: 73%;
  background:rgba(0, 0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 3vw;
  color: #FFF;
  border: none;
  border-bottom: 0.25vw solid #FFF;
}

#search-arrow {
  position: fixed;
  top: 47%;
  left: 89%;
  float: right;
  width: 3.5vw;
  height: 3.5vw;
  padding: 1%;

}

/*****************
SEARCH-RESULTS
******************/

.entire-page {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.prep-horizontal-align:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  /*margin: -0.25em; /* Adjusts for spacing */
}

.horizontal-align {
  display: inline-block;
  vertical-align: middle;
}

#done-button {
  float: right;
  margin: 0.5vw 1vw 0 0;
}

#viewTitle {
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  margin-top: 0.5vw;
}

#search-results-description {
  color: white;
  text-align: left;
  font-size: 2vw;
}

.search-results {
  text-align: center;
}

.search-results-card {
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0) );
  -webkit-transition: 0.2s ease-in-out;
  display: block;
  width: 80vw;
  background: white;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
  height: 5vw;
  text-align: left;
  margin: 2vw 0 2vw 0;
}

.search-results-card:hover {
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5) );
  -webkit-transition: 0.2s ease-in-out;
}

.search-results-number {
  display: inline-block;
  border: 1px solid #4A90E2;
  color: #4A90E2;
  padding: 0.5vw;
  height: 2vw;
  width: 2vw;
  line-height: 2vw;
  border-radius: 100%;
  font-size: 2vw;
  font-weight: 300;
  text-align: center;
  margin: 1vw 2% 1vw 2%;
}

.search-results-title {
  display: inline;
  font-size: 2vw;
  line-height: 2vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #4A90E2;
  margin: 1.5vw 0 1.5vw 0;
}

/*The following classes style the articles*/
.article-insert-style {
  position: fixed;
  top: 12%;
  left: 10%;
  padding: 7% 3% 3% 3%;
  width: 74%;
  background: white;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
  height: 60%;
  text-align: left;
  overflow: scroll;
}

.article-insert-style p, .article-insert-style ol, .article-insert-style ul, .article-insert-style table {
  padding: 6px 0 6px 0;
  font-size: 1.1em;
}

.article-insert-style ol, .article-insert-style ul {
  padding: 6px 0 6px 2em;
}

.article-insert-style a {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #4A90E2;
  height: 1.6em;
  position: fixed;
  top: 12%;
  right: 13%;
  text-align: center;
  padding: 3% 0 0 0;
  margin-top: 0.2em;
}

.article-insert-style a img {
  width: 1.4em;
  padding-top: 0.4em;
  height: 1.4em;
}

.article-insert-style h2 {
  position: fixed;
  top: 12%;
  width: 60%;
  left: 10%;
  background-color: white;
  padding: 3% 14% 0 3%;
  margin-bottom: 1%;
  font-size: 1.6em;
  height: 1.6em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-completed-footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 20px;
}

#search-completed-footer a p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  font-weight: 400;
  text-decoration: none;
  color: #FFF;
}

#search-completed-footer a img {
  height: 2vw;
  width: 2vw;
}

/*****************
MAKE REQUEST
******************/

.make-request {
  position: fixed;
  top: 12%;
  left: 10%;
  padding: 7% 3% 3% 3%;
  width: 74%;
  background: white;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
  height: 60%;
  text-align: left;
  overflow: scroll;
}

.make-request form {
  height: 100%;
}

.make-request h2 {
  position: fixed;
  top: 12%;
  width: 74%;
  left: 10%;
  background-color: white;
  padding: 3% 0 0 3%;
  margin-bottom: 1%;
  font-size: 2vw;
  font-weight: 400;
  height: 3vw;
  overflow: hidden;
  text-align: center;
}

#back-button {
  text-align: left;
  position: fixed;
  top: 12%;
  left: 10%;
  margin: 3% 0 0 3%;
}

#send-button {
  text-align: right;
  position: fixed;
  top: 12%;
  right: 10%;
  margin: 3% 3% 0 0;
}

#back-button img {
  -webkit-transform: rotate(180deg);
  width: 2vw;
  height: 2vw;
}

#send-button img {
  width: 2vw;
  height: 2vw;
}

#back-button p, #send-button p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  font-weight: 300;
  text-decoration: none;
  color: #4A90E2;
}

#make-request-subject {
  width: 90%;
  background: rgba(0, 0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #757575;
  border: none;
  border-bottom: 0.1em solid #757575;
}

#make-request-body {
  background: rgba(0, 0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #757575;
  border: none;
  border: 0.1em solid #757575;
  border-radius: 3px;
  resize: vertical;
  width: 98.5%;
  height: 70%;
}

.make-request form p {
  display: inline-block;
  padding: 20px 5px 0 0;
}

/*****************
RECORDED REQUESTS
******************/

.requests {
  position: fixed;
  display: block;
  top: 12%;
  left: 10%;
  width: 80vw;
  height: 80%;
  overflow: scroll;
}

#request-list-description {
  color: white;
  margin-bottom: 10px;
}

.request-card {
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0) );
  -webkit-transition: 0.2s ease-in-out;
  display: block;
  background-color: white;
  padding: 1%;
  margin-bottom: 15px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
}

.request-card:hover {
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.4) );
}

.request-card h2 {
  display: inline-block;
  white-space: nowrap;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  font-size: 1.3em;
}

.request-status {
  display: inline;
  float: right;
  width: 10%;
  margin: 0.3em 0 0.3em;
  text-align: right;
  height: 1.4em;
}

.request-solved {
  border-left: solid 10px #8DD9AE;
}

.request-solved .request-status {
  color: #8DD9AE;
}

.request-open {
  border-left: solid 10px #d47581;
}

.request-open .request-status {
  color: #d47581;
}

/*****************
REQUEST COMMENTS
******************/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #4A90E2;
}

.request-comments {
  display: block;
  position: fixed;
  top: 12%;
  left: 10%;
  width: 80vw;
  height: 80%;
  background-color: white;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
  padding: 1%;
}

#back-button-comments {
  text-align: left;
  position: fixed;
  top: 12%;
  left: 10%;
  margin: 1% 0 0 5%;
}

#back-button-comments img {
  -webkit-transform: rotate(180deg);
  width: 1.3em;
  height: 1.3em;
}

#back-button-comments p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  text-decoration: none;
  color: #4A90E2;
}

.request-comments-subject {
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
  font-size: 1.3em;
  margin-left: 20%;
}

.request-comments-container {
  height: 70%;
  overflow: scroll;
}

.comment-agent {
  display: block;
  margin: 0 20% 0 5%;
  border: 2px solid #757575;
  border-radius: 3px;
  padding: 1%;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-user {
  display: block;
  margin: 0 5% 0 20%;
  border: 2px solid #757575;
  border-radius: 3px;
  padding: 1%;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-name-user {
  color: #757575;
  text-align: right;
  margin-right: 5%;
}

.comment-name-agent {
  color: #757575;
  text-align: left;
  margin-left: 5%;
}

.comment-new {
  position: absolute;
  bottom: 0%;
  left: 5%;
  width: 90%;
  height: 20%;
  padding: 1%;
  background: white;
}

.comment-new textarea {
  border: 2px solid #4A90E2;
  display: inline-block;
  height: 70%;
  border-radius: 3px;
  resize: none;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #4A90E2;
}

.comment-new a {
  display: inline-block;
  text-align: right;
  float: right;
  font-weight: 400;
}

.comment-new a p {
  color: #4A90E2;
  font-size: 1.3em;
}
/*****************
LOADING
******************/

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: block;
  text-align: center;
  background-color: rgba(161, 161, 161, 0.5);
}

.loading:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: -0.25em; /* Adjusts for spacing */
}

.loading div {
  display: inline-block;
  vertical-align: middle;
}

.loading div img {
  display: table;
  margin: auto;
  width: 10vw;
  height: 10vw;
  text-align: center;
}

.loading div p {
  display: table;
  margin-top: 1vw;
  font-size: 2vw;
  color: white;
  width: 100%;
  text-align: center;
}

/*****************
DONE ANIMATION
******************/

.doneAnimationCanvas {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
}

.doneAnimationCanvas:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: -0.25em; /* Adjusts for spacing */
}

.wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 20vw;
}

.checkmark {
  stroke: #FFF;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 3s ease-out forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
